name: Commit Lint

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  commitlint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Commitlint
        uses: wagoid/commitlint-github-action@v4
        with:
          configFile: commitlint.config.js
